@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);
@import url(https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap);

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing:border-box;
}

html{
	scroll-behavior: smooth;
}

a{
	color: #000000;
}

#main {
	width: 100%; 
	padding:0;
}

.content-asset p {
	margin:0 auto;
}

.breadcrumb {
	display:none;
}

.margin-top-10 {
	padding-top:10px;
}
.margin-bot-10 {
	padding-bottom:10px;
}

/* Frame map */
/**************************/
/* .embed-container {
	position: relative;
	padding-bottom: 25%;
	height: 0;
	overflow: hidden;
}
.embed-container iframe {
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
} */
/* Frame map */
/**************************/

/* Typography */
/**************************/
.mainBanner{
	background-image: url(/assets/img/mainBGB.jpg); 
	background-attachment: fixed; 
	background-size: cover; 
	-moz-background-size: cover; 
	-webkit-background-size: cover; 
	background-repeat: no-repeat; 
}

#parallax-world-of-ugg h1 {
	font-family: 'Antic Didone', serif;
	font-size:24px; 
	font-weight:400; 
	text-transform: uppercase; 
	color:#ffffff; 
	padding:0; 
	margin:0;
}

#parallax-world-of-ugg h6 {
	font-family:'Oswald', sans-serif; 
	font-size:27px; 
	letter-spacing:2px; 
	color:#1f1f1f; 
	font-weight:300; 
	z-index:10; 
	opacity:.9;
}

#parallax-world-of-ugg h3 {
	font-family:'Oswald', sans-serif; 
	font-size:28px; 
	line-height:0; 
	font-weight:400; 
	letter-spacing:8px; 
	text-transform: uppercase; 
	color:#ffffff;
}

#parallax-world-of-ugg p {
	font-family:'Source Sans Pro', sans-serif; 
	font-weight:400; 
	font-size:22px; 
	line-height:24px;
}

.board {
	font-size: 6em;
	padding:  5px 10px;
	display: inline-block;
	background: rgb(30, 30, 30);
	-webkit-border-radius: 3px;
	text-transform: uppercase;
	color: white;
}

.date{
	font-family:'Oswald', sans-serif; 
	color:#1f1f1f; 
}
.day{
	font-size: 120px; 
}
.month{
	font-size: 50px; 
}
#countdown{
	font-family:'Oswald', sans-serif; 
}

.counting{
	background-color: #dbd8d8;
	font-family:'Oswald', sans-serif; 
	font-size: 50px; 
}

#cronograma {
	width: 96%;
	max-width: 1400px;
	margin: 0 auto;
	}
	img {
	width: 100%;
	height: auto;
	}

#tomaNota{
	background-color: #FCF0F0;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
    font-size: 22px;
}

#tomaNota img{
	max-width: 100%;
}

#tomaNota li{
	line-height: 60px;
	list-style: none;
}

#wishlist{
	background-color: #EEEEEE;
}

.list_go{
	background-color: #C79C96;
	color: #ffffff;
	font-family: 'Antic Didone', serif;
	font-size: 18px;
	padding: 10px 70px;
	border-radius: 50px;
}

.list_go:hover{
	background-color: #ffffff;
	color: #C79C96;
	border: #C79C96 1px solid;
}

/* Section - Title */
/**************************/
#parallax-world-of-ugg .title {
	background-image: url(/assets/img/mainBGB.jpg);
	background-attachment: fixed; 
	background-size: cover; 
	background-repeat: no-repeat; 
	background-position: center center;
	padding: 60px; 
	margin:0 auto; 
	min-height: 800px;
	text-align:center;
	font-family: 'Playfair Display', serif;
}

#parallax-world-of-ugg .title2 {
	font-family: 'Oswald', sans-serif;
	font-size: 25px;
	line-height: 0;
	font-weight: 400;
	letter-spacing: 8px;
	text-transform: uppercase;
	color: #000000;
}

#parallax-world-of-ugg .title3 {
	font-family: 'Antic Didone', serif;
	font-size: 30px;
	font-weight: 400;
	text-transform: uppercase;
	color: #000000;
}


#parallax-world-of-ugg .mainGift{
	color: #000000;
	padding: 60px; 
	margin:0 auto; 
	text-align:center;
	font-family: 'Playfair Display', serif;
}

#parallax-world-of-ugg .title h1 {
	font-size:70px; 
	letter-spacing:8px;
}

/* Section - Block */
/**************************/
#parallax-world-of-ugg .block {
	background: white; 
	padding: 60px; 
	width:820px; 
	margin:0 auto; 
	text-align:justify;
}

#parallax-world-of-ugg .block-gray {
	background: #f2f2f2;
	padding: 60px;
}

#parallax-world-of-ugg .section-overlay-mask {
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
	background-color: black; 
	opacity: 0.70;
}

/* Section - Parallax */
/**************************/
#parallax-world-of-ugg .parallax-one {
	padding-top: 150px; 
	padding-bottom: 150px; 
	overflow: hidden; 
	position: relative; 
	width: 100%; 
	background-image: url(/assets/img/feathers-soft_pink.jpg); 
	background-attachment: fixed; 
	background-size: cover; 
	-moz-background-size: cover; 
	-webkit-background-size: cover; 
	background-repeat: no-repeat; 
	background-position: top center;
}

#parallax-world-of-ugg .parallax-two {
	overflow: hidden; 
	position: relative; 
	width: 100%; 
	background-image: url(/assets/img/bg-banner_house.jpg); 
	background-attachment: fixed; 
	background-size: cover; 
	-moz-background-size: cover; 
	-webkit-background-size: cover; 
	background-repeat: no-repeat; background-position: center center;
}

#parallax-world-of-ugg .parallax-three {
	overflow: hidden; 
	position: relative; 
	width: 100%; 
	background-image: url(/assets/img/feathers-soft_gray.jpg); background-attachment: fixed; 
	background-size: cover; 
	-moz-background-size: cover; 
	-webkit-background-size: cover; 
	background-repeat: no-repeat; 
	background-position: center center;}

/* Extras */
/**************************/
#parallax-world-of-ugg .line-break {
	border-bottom:1px solid black; 
	width: 150px; 
	margin:0 auto;}


/* Media Queries */
/**************************/
@media screen and (max-width: 959px) and (min-width: 768px) {
    #parallax-world-of-ugg .block {padding: 40px; width:620px;}
}
@media screen and (max-width: 767px) {
    #parallax-world-of-ugg .block {padding: 30px; width:420px;}
    #parallax-world-of-ugg h2 {font-size:30px;}
    #parallax-world-of-ugg .block {padding: 30px;}
}
@media screen and (max-width: 479px) {
    #cronograma {
            margin: 0 auto;
            }
            img {
                width: 100%;
                height: auto;
                }

                .embed-container iframe {
                    width: 100%;
                
                } 		
}

@media (min-width: 768px){
	#cronograma img.d-none.d-md-block.hidden-xs {
    min-width: 850px;
	}
}


@media screen and (max-width: 479px) {
	#cronograma {
		width: 100%;
		margin: 0 auto;
		}
		img {
		width: 100%;
		height: auto;
		}
}

/* Menu */
/**************************/
#navMain {
  position: fixed;
	top: 0;
	z-index: 9;
  width: 100%;
  margin: 0 auto;
	font-family:'Oswald', sans-serif; 
}
#navMain ul,
#navMain li,
#navMain a {
    position: relative;
    list-style:none;
    text-decoration: none;
}
#navMain ul li a {
    display: block;
    color: #928C90;
    padding: 10px 10px;
    position: relative;
}

#navMain > ul {
    position: relative;
    margin: 0 auto;
}
#navMain > ul > li > a {
    height:100%;
    background: #fcf0f0;
}

#navMain li > a:hover,
#navMain li > a:focus {
    background: #ffffff !important;
}

#navMain .hasSub:after {
    position: absolute;
    content: "\25BC";
    display: block;
    font-size: 0.7em;
    color: #fff;
    top: 14px;
    right: 10px;
    cursor: pointer;
    transform: rotate(0deg);
    transition: transform 0.5s;
}
#navMain .hasSub.open:after {
    transform: rotate(180deg);
    transition: transform 0.5s;
}

/* Menu BURGER (responsive) */
#menuBurger {
    display: none; 
}
#menuBurger ~ label {
    display: none;
    z-index:2;
    position:absolute;
    right:0;
    top:0;
    cursor: pointer;
    vertical-align: top;
    background: #F5EBEA;
    width: 38px;
    height: 38px;
}
#menuBurger ~ label::before {
    content: "";
    margin: 6px auto;
    width: 24px;
    height: 5px;
    background: #1f1f1f;
    box-shadow: 0 10px 0 0 #1f1f1f, 0 20px 0 0 #1f1f1f;
}
#menuBurger ~ label::after {
    display: none;
    content: "\2716"; 
    font-weight: 900;
    margin: auto;
    font-size: 26px;
    color: #1f1f1f
}
#menuBurger:checked ~ label::after {
    display: block;
}
#menuBurger:checked ~ label::before {
    display: none;
}


@media screen and (max-width: 767px) {
  /* menu vertical */
    #navMain > ul {
        width: 100%;
        display:none; 
    }
    #menuBurger ~ label {
        display: inline-flex;
    }
    #menuBurger:checked ~ ul {
        display:block;
    }
    #parallax-world-of-ugg .title h1 {
	    font-size:40px; 
	    letter-spacing:8px;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
}

@media screen and (min-width: 768px) {
    /* menu horizontal */
    #navMain > ul {
        display: flex;
        flex-wrap:nowrap;
    }
    #navMain > ul > li {
        flex: 1 1 25%;
    }
    #navMain > ul > li > ul {
        position: absolute;
        width: 100%;
        z-index: 1;
    }
}

#myBtn {
	font-family: 'Antic Didone', serif;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    cursor: pointer; 
	background-color: #C79C96;
	color: #ffffff;
	padding: 8px 30px;
	border-radius: 50px;
}

#myBtn:hover {
	background-color: #ffffff;
	color: #C79C96;
	border: #C79C96 1px solid;
}